.active-menu-item {
    color: #FF6699;
    font-weight: bold;
}

.active-menu-item:hover {
    color: #FF6699;
    font-weight: bold;
}

.btn-custom {
    background-color: #FF6699; 
    border-color: #FF6699;
    color: white;
    font-weight:bold; 
}

.btn-custom:hover {
    background-color: lightpink; 
    border-color: lightpink;
    color: white;
    font-weight:bold; 
}

.card-custom {
    transition: transform .2s;
}

.card-custom:hover {
    transform: scale(1.03);
    background-color: #fff3f4;
}

.clickable:hover {
    border-radius: 50%;
    filter: drop-shadow(0px -5px 10px #000000);
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.first-btn {
    margin-left: 5px;
    margin-right: 15px;
}

.frozen-menu {
    background-color: white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 4px 2px gray;
}

.img-trans {
    transition: transform 1s;
}

.img-trans:hover {
    transform: scale(1.1)
}

.main-block {
    background-color: #f8f9fa;
    border-radius: 0%;
    justify-content: center;
    height: auto;
    margin-top: 3%;
    padding: 3%;
}

.menu-icon {
    background-color: #FF6699;
    border-color: #000000;
    text-decoration: none;
}

.menu-link {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.menu-link:hover {
    color: black;
    font-weight: bold;
}

.normal-text-link {
    color: black;
    text-decoration: none;
}

.normal-text-link:hover {
    color: gray;
    text-decoration: none;
}

.opaque {
    background-color: rgba(255, 255, 255, .5);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.social-logo {}

.title-link {
    color: #FF6699;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.title-link:hover {
    color: lightpink;
}

.no-border {
    border: none;
}

.img-absolute {
    padding: 0px;
}



.no-border {
    border-color: #FF6699;
}

.bar1,
.bar2,
.bar3 {
    align: center;
    width: 35px;
    height: 5px;
    background-color: #FF6699;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }