{% extends "layout.html" %}

{% block title %}
    Delete Pages
{% endblock %}

{% block explanation %}
    <!-- Function/Page Title -->
    <a class="normal-text-link" href="/"><h1><b>Delete Pages from PDF</b></h1></a>
    <!-- Function/Page Description -->
    <p>
        <br><h5>Use this to delete a range of pages from a .pdf file. Type 1 in start and 5 in end to delete pages 1 through 5 from the file.</h5>
    </p>
{% endblock %}

{% block main %}
    <form action="/delete" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="file" type="file" value="file">
            <br>
            <input autocomplete="off" autofocus class="form-control mb-1 mx-auto w-auto" id="start" name="start"
                placeholder="Start" type="number">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="end" name="end"
                placeholder="End" type="number">
        </div>
        <button class="btn btn-custom btn-primary" type="submit">Upload</button>
    </form>
{% endblock %}