{% extends "layout.html" %}

{% block title %}
    Divide Pages
{% endblock %}

{% block explanation %}
    <!-- Function/Page Title -->
    <a class="normal-text-link" href="/"><h1><b>Divide Two Column Files</b></h1></a>
    <!-- Function/Page Description -->
    <p>
        <br><h5>Use this to transform a file with two columns into a single column one.</h5>
    </p>
{% endblock %}

{% block main %}

    <form action="/divide" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="file" type="file" value="file">
        </div>
        <button class="btn btn-custom btn-primary" type="submit">Upload</button>
    </form>

{% endblock %}
