{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block explanation %}

        <!-- Simple welcome text-->
        <h5><b>Welcome to</b></h5>
        <a class="normal-text-link" href="/"><h1><b>Couple More Studio's PDF Changer</b></h1></a>
        <!--<p>
            We are a small familiar indie software development company focused on games and virtual experiences.
        </p> -->
        <p>
            <br><h5>Some tools to perform changes regarding .pdf files are found in this website. Select one of the below!</h5>
        </p>

{% endblock %}

{% block main %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for function in FUNCTIONS %}
                    <div class="col">
                        <div class="card card-custom shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="0" role="img" preserveAspectRatio="xMidYMid slice" src="/static/files/pdf_image.png">
                            <div class="card-body">
                                <h5> {{ function["title"]}} </h5>
                                <p class="card-text"> {{ function["explanation"] }} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a  href="{{ function['href'] }}"> <button type="button" class="btn btn-custom">Try it!</button> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}