{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div  class="container content login main-block m-5">

    <form action="/login" method="post">

        <div class="mb-5"><b>You must be logged in to use our services.</b></div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
                placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
        
        <div class="mt-3">
            <a href="/register">New here? Register</a>
        </div>

    </form>
</div>

{% endblock %}
