{% extends "layout.html" %}

{% block title %}
    Merge Files
{% endblock %}

{% block main %}

    <form action="/merge" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <b>First File</b>
            <input class="form-control mx-auto w-auto" name="first-file" type="file" value="first-file">
            <br>
            <b>Second File</b>
            <input class="form-control mx-auto w-auto" name="second-file" type="file" value="second-file">
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>

{% endblock %}